@import url(https://db.onlinewebfonts.com/c/d78f5d2c76185fa07aaf8dd729eef33e?family=DIN+Next+LT+Arabic+Light);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    padding: 100px 200px;

}

.main {

    width: 100%;
    min-height: 100vh;
    display: flex;
    background: url(Image/Zeealwan\ freq.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #4a148c;
    justify-content: center;
   
    




}



.contant {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.title {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2.9em;
    font-weight: bold;
    margin-bottom: 50px;
    font-family: DIN Next LT Arabic;


}


.section-series {
    background-color: #4a148c;
   
    

}  

.Series-card .contant {
    margin-top: 30px;
}

.Series-card {
    background-color: #4a148c;
    border: 4px solid #fff;
    min-height: 14em;
    width: 21.25em;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.7s ease;
    margin: 10px;



}

.Series-card:hover {
    transform: scale(1.1);
}

.Series-card:hover .series-img {
    opacity: 0.9;
    background-color: #fff;
}

.Series-card img {
    width: 100%;

}

.series-info {
    padding: 1em;

}



.series-category {
    display: flex;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    justify-content: center;
    font-family: DIN Next LT Arabic;


}

.series-category span{
    font-size: 0.9em;
    margin: 3px;
    font-family: DIN Next LT Arabic;
}

.series-title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    color: white;
    font-family: DIN Next LT Arabic;

}
